<!DOCTYPE html>
<html ng-app="appModule">
  <head>
    <meta charset="utf-8">

    <title>Search With Angukar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="busqueda" ng-controller="searchController">
    <h1 id="titulo">AngularJS</h1>

    <input id="buscar" type="search" ng-model="businessS" ng-keyup="search()">
    <button id="botonBuscar" type="button" name="button" ng-click="search()">Buscar</button>
    <br>
    <label id="carga" ng-controller="searchController">{{result}}</label><br>
    <label id="instruccion" ng-controller="instructionsController">{{instrictionsText}}</label>
    <label id="businessName"></label>
    </div>

    <div class="content" ng-controller="searchController" ng-view>
    </div>
    <script src="modules/appModule.js"></script>
    <script src="factories/datailsFactory.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/detailsController.js"></script>
    <script src="controllers/instructionsController.js"></script>
    <script src="controllers/searchController.js"></script>
  </body>
</html>
